.image-surround {
  float: right;
  max-width: 40%;
}
* {
  border-radius: 0 !important;
}
body {
  background: white;
  position: relative;
  font-family: 'Lato', Arial, sans-serif;
}
#header {
  width: 100%;
  padding: 1em 0 0;
}
#header h1 {
  font-size: 2.5rem;
}
#header h2 {
  font-size: 1.5rem;
  color: darkslategrey;
}
#main {
  max-width: 100em;
}
#content {
  padding-left: 18.5em;
  padding-right: 1.5em;
}
@media (max-width: 767px) {
  #content {
    padding-top: 5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
@media (min-width: 1300px) {
  #content {
    padding-left: 20.5em;
    padding-right: 3em;
  }
}
#content p {
  font-size: large;
  line-height: 1.7em;
  letter-spacing: 0.4px;
}
#nav {
  min-width: 17em;
  max-width: 17em;
  height: 100%;
  padding: 0;
  background: #48a770;
  z-index: 100;
}
@media (max-width: 767px) {
  #nav {
    width: 100%;
    max-width: initial;
    min-width: initial;
    height: initial;
  }
}
@media (max-width: 767px) {
  #nav #sidebar-header {
    display: none;
  }
}
#nav #sidebar-header img {
  width: 15em;
  height: auto;
  padding: 1em;
}
#nav #sidebar-header h3 {
  padding: 0.5em;
  width: 100%;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.4);
  background: #48a770;
  font-size: 1.6em;
}
#nav #sidebar-header div {
  width: 100%;
  background-color: #48a770;
}
#nav #sidebar-header i {
  width: initial !important;
}
#nav #topbar {
  display: none;
  height: 4em;
}
@media (max-width: 767px) {
  #nav #topbar {
    display: block;
  }
}
#nav #topbar .navbar-brand {
  height: 100%;
  padding: 0;
}
#nav #topbar .navbar-brand img {
  height: 100%;
  width: auto;
}
#nav #nav-content {
  height: 100%;
  max-height: unset !important;
}
#nav #nav-content > ul {
  height: 40em;
}
@media not all and (max-width: 767px) {
  #nav #nav-content {
    display: block !important;
  }
}
#nav #nav-content li {
  width: 100%;
}
#nav #nav-content i {
  width: 2em;
}
#nav #nav-content a,
#nav #nav-content a:hover,
#nav #nav-content a:focus {
  padding: 10px;
  font-size: 1.0em;
  font-weight: 400;
  display: block;
  color: #f3efe0;
  text-decoration: none;
  transition: all 0.3s;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
}
#nav #nav-content a.first {
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2) !important;
}
#nav #nav-content ul li a:hover {
  color: #3d722f;
  background: white !important;
}
#nav #nav-content a[aria-expanded="true"] {
  color: #f3efe0;
  background: rgba(0, 0, 0, 0.1);
}
#nav #nav-content ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: rgba(0, 0, 0, 0.2);
  font-weight: lighter;
}
#nav #nav-content ul ul li {
  width: 100%;
}
.nav-link.active {
  color: white;
  background: rgba(0, 0, 0, 0.3) !important;
}
h1 {
  color: DARKOLIVEGREEN;
  width: 100%;
}
h2 {
  color: OLIVE;
  width: 100%;
}
h3 {
  color: OLIVEDRAB;
  width: 100%;
}
.hr-heavy {
  margin-top: 0;
  margin-bottom: 2rem;
  border-top-width: 4px;
  border-style: double;
}
.hr-light {
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
}
figure {
  padding-top: 1em;
  padding-bottom: 1em;
}
.figure-center {
  width: 100%;
  text-align: center;
}
.figure-center img {
  max-width: 80% !important;
  height: auto;
}
.container-image {
  text-align: center;
}
.container-image figure img {
  height: 15em;
  width: auto;
}
.section {
  padding-top: 8em;
  margin-top: -8em;
}
.video {
  display: block;
  margin: 0 auto 1em auto;
  width: 560px;
  height: 315px;
  border: 0;
  max-width: 100%;
}
/*# sourceMappingURL=site.css.map */