@import (reference, less) "bootstrap.css";

@site-background: #fbf7e8;
@site-background: white;
@site-top-border: darkolivegreen;

@sidebar-header-text-color: rgba(0, 0, 0, 0.4);
@sidebar-header-background-color: @sidebar-background-color;

@sidebar-background-color: #48a770;
@sitebar-text-color: #f3efe0;

@sitebar-active-text-color: white;
@sitebar-active-background-color: rgba(0, 0, 0, 0.2);

@sitebar-highlight-text-color: #3d722f;
@sitebar-highlight-background-color: white;

@sitebar-expand-parent-background-color: rgba(0, 0, 0, 0.1);
@sitebar-expand-background-color: rgba(0, 0, 0, 0.4);

@h1-color: DARKOLIVEGREEN;
@h2-color: OLIVE;
@h3-color: OLIVEDRAB;

@sidebar-width: 17em;
@topbar-height: 3em;

@breakpoint: 767px;

* {
  border-radius: 0 !important;
}

body {
  background: @site-background;
  position: relative;
  font-family: 'Lato', Arial, sans-serif;
}

#header {
  width: 100%;
  padding: 1em 0 0;

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
    color: darkslategrey;
  }
}

#main {
  max-width: 100em;
}

#content {
  padding-left: @sidebar-width+1.5em;
  padding-right: 1.5em;

  @media (max-width: @breakpoint) {
    padding-top: @topbar-height+1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  @media (min-width: 1300px) {
    padding-left: @sidebar-width+3.5em;
    padding-right: 3em;
  }

  p {
    font-size: large;
    line-height: 1.7em;
    letter-spacing: 0.4px;
  }
}

#nav {
  min-width: @sidebar-width;
  max-width: @sidebar-width;
  height: 100%;

  padding: 0;
  background: @sidebar-background-color;

  z-index: 100;

  @media (max-width: @breakpoint) {
    width: 100%;
    max-width: initial;
    min-width: initial;
    height: initial;
  }

  #sidebar-header {
    @media (max-width: @breakpoint) {
      display: none;
    }

    img {
      width: @sidebar-width+-2em;
      height: auto;
      padding: 1em;
    }

    h3 {
      padding: 0.5em;
      width: 100%;
      font-weight: normal;
      color: @sidebar-header-text-color;
      background: @sidebar-header-background-color;
      font-size: 1.6em;
    }

    div {
      width: 100%;
      background-color: @sidebar-header-background-color;
    }

    i {
      width: initial !important;
    }
  }

  #topbar {
    display: none;

    @media (max-width: @breakpoint) {
      display: block;
    }

    .navbar-brand {
      height: @topbar-height;

      img {
        height: 100%;
        width: auto;
      }
    }
  }

  #nav-content {

    @media not all and (max-width: @breakpoint) {
      display: block !important;
    }

    i {
      width: 2em;
    }

    a, a:hover, a:focus {
      padding: 10px;
      font-size: 1.0em;
      font-weight: 400;
      display: block;

      color: @sitebar-text-color;
      text-decoration: none;
      transition: all 0.3s;
      box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
    }

    a.first {
      box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2) !important;
    }

    ul li a:hover {
      color: @sitebar-highlight-text-color;
      background: @sitebar-highlight-background-color !important;
    }

    a[aria-expanded="true"] {
      color: @sitebar-text-color;
      background: @sitebar-expand-parent-background-color;
    }

    ul ul a {
      font-size: 0.9em !important;
      padding-left: 30px !important;
      background: @sitebar-expand-background-color;
      font-weight: lighter;
    }

    ul ul li {
      width: 100%;
    }
  }

}

.nav-link.active {
  color: @sitebar-active-text-color;
  background: @sitebar-active-background-color !important;
}

h1 {
  color: @h1-color;
  width: 100%;
}

h2 {
  color: @h2-color;
  width: 100%;
}

h3 {
  color: @h3-color;
  width: 100%;
}

.hr-heavy {
  margin-top: 0;
  margin-bottom: 2rem;
  border-top-width: 4px;
  border-style: double;
}

.hr-light {
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
}

figure {
  padding-top: 1em;
  padding-bottom: 1em;

}

.figure-center {
  width: 100%;
  text-align: center;

  img {
    max-width: 80% !important;
    height: auto;
  }
}

#challenges-img {
  text-align: center;

  figure img {
    height: 15em;
    width: auto;
  }
}

.section {
  padding-top: @topbar-height*2;
  margin-top: -@topbar-height*2;
}